myFileExercise3.txt
Exercise_4/testFileEx4.txt
Exercise_4/testFile2Ex4.txt
Exercise_4/test
myFileExercise4.txt
myFileExercise4.txt
Ex5.txt
Ex1.txt
myFile.txt
Exercise_1/testFile1.txt
Exercise_1/testFile2.txt
Exercise_2/testFile2Ex2.txt
Exercise_2/testFileEx2.txt
myFileExercise2.txt
RunionS.tsv
RjoinS.tsv
RintersectionS.tsv
RdifferenceS.tsv
Assignment2/Rtree.txt
Assignment2/.vscode/settings.json
